<!DOCTYPE html>
<html lang = "de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h1>Contact</h1>
        <p>You can place your Contact information here.</p>
        <a href="/" >zurück zum Startseite</a>
    </body>
</html>        