<!DOCTYPE html>
<html lang = "de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css"> //Load the CSS file style.css from the /css folder and apply its styles to this page.
    </head>
    <body>
        <header>
            <h1>Mana Iran</h1>
            <nav>
                <a href="/">/a>Home</a>
                <a href="/Über">About</a>
                <a href="/Veranstaltungen">Events</a>
                <a href="/Kontak">Contact</a>
            </nav>
            
        </header>
        
        <main>
            <h2>Willkommen bei der Mana Iran</h2>
            <p>Dies ist die offizielle Startseite der Mana-Iran-Website.</p>
        </main>
        
        <script src="/js/main.js"></script>
    </body>
</html>        
